<h5>
    <center><%= laporan.nama %></center>
</h5>
<br>
<div class="d-flex justify-content-center">
    <div class="card" style="width: 400px; background-color: white;">
        <div class="card-body">
            <p><%= laporan.date %></p>
            <form method="POST" action="/edit-laporan/<%= laporan._id %>">
                <div class="form-group">
                    <label>Staff</label>
                    <input type="name" class="form-control" id="staff" name="staff" value="<%= laporan.staff %>" required>
                    <input type="hidden" class="form-control" id="staff" name="user" value="<%= laporan.user %>" required>
                    <input type="hidden" class="form-control" id="staff" name="nama" value="<%= laporan.nama %>" required>
                    <input type="hidden" class="form-control" id="staff" name="date" value="<%= laporan.date %>" required>

                  </div>
                <hr>

                <h5>05.00 - 13.00 <small>(Shift 1)</small></h5>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr class="table-primary">
                                <th scope="col">Ayam</th>
                                <th scope="col">D</th>
                                <th scope="col">PA</th>
                                <th scope="col">PB</th>
                                <th scope="col">S</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Stok</th>
                                <td><input class="form-control" id="d" name="s1StokD" value="<%= laporan.data.s1.stok.d %>"></td>
                                <td><input class="form-control" id="pa" name="s1StokPA" value="<%= laporan.data.s1.stok.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s1StokPB" value="<%= laporan.data.s1.stok.pb %>"></td>
                                <td><input class="form-control" id="s" name="s1StokS" value="<%= laporan.data.s1.stok.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Datang</th>
                                <td><input class="form-control" id="d" name="s1DatangD" value="<%= laporan.data.s1.datang.d %>"></td>
                                <td><input class="form-control" id="pa" name="s1DatangPA" value="<%= laporan.data.s1.datang.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s1DatangPB" value="<%= laporan.data.s1.datang.pb %>"></td>
                                <td><input class="form-control" id="s" name="s1DatangS" value="<%= laporan.data.s1.datang.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Digoreng</th>
                                <td><input class="form-control" id="d" name="s1MasakD" value="<%= laporan.data.s1.masak.d %>"></td>
                                <td><input class="form-control" id="pa" name="s1MasakPA" value="<%= laporan.data.s1.masak.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s1MasakPB" value="<%= laporan.data.s1.masak.pb %>"></td>
                                <td><input class="form-control" id="s" name="s1MasakS" value="<%= laporan.data.s1.masak.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Laku</th>
                                <td><input class="form-control" id="d" name="s1LakuD" value="<%= laporan.data.s1.laku.d %>"></td>
                                <td><input class="form-control" id="pa" name="s1LakuPA" value="<%= laporan.data.s1.laku.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s1LakuPB" value="<%= laporan.data.s1.laku.pb %>"></td>
                                <td><input class="form-control" id="s" name="s1LakuS" value="<%= laporan.data.s1.laku.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Etalase</th>
                                <td><p id="d" name="s1EtalaseD" value="<%= laporan.data.s1.etalase.d %>"></td>
                                <td><p id="pa" name="s1EtalasePA" value="<%= laporan.data.s1.etalase.pa %>"></td>
                                <td><p id="pb" name="s1EtalasePB" value="<%= laporan.data.s1.etalase.pb %>"></td>
                                <td><p id="s" name="s1EtalaseS" value="<%= laporan.data.s1.etalase.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Freezer</th>
                                <td><p id="d" name="s1SimpanD" value="<%= laporan.data.s1.simpan.d %>"></td>
                                <td><p id="pa" name="s1SimpanPA" value="<%= laporan.data.s1.simpan.pa %>"></td>
                                <td><p id="pb" name="s1SimpanPB" value="<%= laporan.data.s1.simpan.pb %>"></td>
                                <td><p id="s" name="s1SimpanS" value="<%= laporan.data.s1.simpan.s %>"></td>                              
                              </tr>
                            </tbody>
                          </table>
                      </div>
                </div>
                <hr>

                <h5>05.00 - 21.00 <small>(Shift 1 & Shift 2)</small></h5>
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr class="table-primary">
                                <th scope="col">Ayam</th>
                                <th scope="col">D</th>
                                <th scope="col">PA</th>
                                <th scope="col">PB</th>
                                <th scope="col">S</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Stok</th>
                                <td><p class="form-control" id="d" name="s2StokD" value="<%= laporan.data.s2.stok.d %>"></td>
                                <td><p class="form-control" id="pa" name="s2StokPA" value="<%= laporan.data.s2.stok.pa %>"></td>
                                <td><p class="form-control" id="pb" name="s2StokPB" value="<%= laporan.data.s2.stok.pb %>"></td>
                                <td><p class="form-control" id="s" name="s2StokS" value="<%= laporan.data.s2.stok.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Datang</th>
                                <td><input class="form-control" id="d" name="s2DatangD" value="<%= laporan.data.s2.datang.d %>"></td>
                                <td><input class="form-control" id="pa" name="s2DatangPA" value="<%= laporan.data.s2.datang.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s2DatangPB" value="<%= laporan.data.s2.datang.pb %>"></td>
                                <td><input class="form-control" id="s" name="s2DatangS" value="<%= laporan.data.s2.datang.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Digoreng</th>
                                <td><input class="form-control" id="d" name="s2MasakD" value="<%= laporan.data.s2.masak.d %>"></td>
                                <td><input class="form-control" id="pa" name="s2MasakPA" value="<%= laporan.data.s2.masak.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s2MasakPB" value="<%= laporan.data.s2.masak.pb %>"></td>
                                <td><input class="form-control" id="s" name="s2MasakS" value="<%= laporan.data.s2.masak.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Laku</th>
                                <td><input class="form-control" id="d" name="s2LakuD" value="<%= laporan.data.s2.laku.d %>"></td>
                                <td><input class="form-control" id="pa" name="s2LakuPA" value="<%= laporan.data.s2.laku.pa %>"></td>
                                <td><input class="form-control" id="pb" name="s2LakuPB" value="<%= laporan.data.s2.laku.pb %>"></td>
                                <td><input class="form-control" id="s" name="s2LakuS" value="<%= laporan.data.s2.laku.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Etalase</th>
                                <td><p id="d" name="s2EtalaseD" value="<%= laporan.data.s2.etalase.d %>"></td>
                                <td><p id="pa" name="s2EtalasePA" value="<%= laporan.data.s2.etalase.pa %>"></td>
                                <td><p id="pb" name="s2EtalasePB" value="<%= laporan.data.s2.etalase.pb %>"></td>
                                <td><p id="s" name="s2EtalaseS" value="<%= laporan.data.s2.etalase.s %>"></td>                              
                              </tr>
                              <tr>
                                <th scope="row">Freezer</th>
                                <td><p id="d" name="s2SimpanD" value="<%= laporan.data.s2.simpan.d %>"></td>
                                <td><p id="pa" name="s2SimpanPA" value="<%= laporan.data.s2.simpan.pa %>"></td>
                                <td><p id="pb" name="s2SimpanPB" value="<%= laporan.data.s2.simpan.pb %>"></td>
                                <td><p id="s" name="s2SimpanS" value="<%= laporan.data.s2.simpan.s %>"></td>                              
                              </tr>
                            </tbody>
                          </table>
                      </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary container">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>